## pandas入门

---

In [ ]:
import pandas as pd

### 数据结构

#### Series -- 一维数据表

In [ ]:
obj = pd.Series([1,3,5,7,9])
obj

左边第一列为index，默认为range(n)，可以自己设置

In [ ]:
obj = pd.Series([1,3,5,7,9], index=['a','b','c','d','e'])
obj

通过.values获得值，.index获得索引

In [ ]:
obj.values
obj.index

可以通过标签对元素进行索引

In [ ]:
obj = pd.Series([1,3,5,7,9], index=['a','b','c','d','e'])
obj['a']
obj[0]

**Series对象可以由字典生成**，数组操作与Numpy中相似

In [ ]:
dic = {'a':1, 'b':2, 'c':3}
obj = pd.Series(dic)
obj

In [ ]:
# 可以通过设置索引改变排列顺序
index = ['b','c','a']
obj = pd.Series(dic, index)
obj

使用isnull和notnull检查缺失数据

In [ ]:
dic = {'a':1, 'b':2, 'c':3}
obj = pd.Series(dic, index=['d','a','b','c','e'])
obj

In [ ]:
pd.isnull(obj)
pd.notnull(obj)

为Series对象设置name属性

In [ ]:
dic = {'a':1, 'b':2, 'c':3}
obj = pd.Series(dic, index=['d','a','b','c','e'])
obj.name = "Seties_obj 1"  #整个对象的name
obj.index.name = "Letter"  #索引的name
obj

#### DataFrame -- 二维数据表

常用包含**等长度列表或NumPy数组**的字典形成

In [31]:
dic = {
    'Name':['Angela','Bob','Cindy','David'],
    'Sex':['Female','Male','Female','Male'],
    'Age':[23,25,64,10]
      }
df = pd.DataFrame(dic)
df

     Name     Sex  Age
0  Angela  Female   23
1     Bob    Male   25
2   Cindy  Female   64
3   David    Male   10

通过.head()获取前5行数据，常用于大型数据

通过传递参数columns指定列顺序

In [45]:
df = pd.DataFrame(dic, columns=['Sex','Name','Age'], index=list(range(1,len(dic['Name'])+1)) )
df

      Sex    Name  Age
1  Female  Angela   23
2    Male     Bob   25
3  Female   Cindy   64
4    Male   David   10

像字典那样检索Series

In [46]:
df['Name'] #通用
df.Name    #列名应是有效的Python变量名

1    Angela
2       Bob
3     Cindy
4     David
Name: Name, dtype: object

1    Angela
2       Bob
3     Cindy
4     David
Name: Name, dtype: object